{% extends "layout.html" %}

{% block title %}Dashboard - SmartExcel{% endblock title %}

{% block toast %}
    {% include "toast.html" with messages=messages %}
{% endblock toast %}

{% block body %}

{% load static %}

<div class="d-flex justify-content-center my-5">
    <div class="border shadow rounded p-4 bg-light mt-2" style="width: 80%;">
        <div class="d-flex justify-content-between">
            <div class="bg-white rounded p-2 text-dark fw-medium">Total Records : {{ total_records }}</div>
            <div class="">
                <button type="button" class="btn btn-primary mx-4" data-bs-toggle="modal" data-bs-target="#bulkmodal">Export Bulk Data</button>
                <a href="/form/" class="btn btn-success text-light shadow">Create Record</a>
            </div>
        </div>
        {% if data %}
        <table class="table table-bordered mt-4">
            <thead class="bg-info">
                <th class="bg-info">STD ID</th>
                <th class="bg-info w-75">Product Name</th>
                <th class="bg-info">Manufacture Date</th>
                <th class="bg-info">View</th>
            </thead>
            <tbody>
                {% for record in data %}
                    <tr>
                        <td><a href="{% url "update" stp_id=record.stp_id %}" class="nav-link text-primary">{{ record.stp_id }}</a></td>
                        <td>{{ record.product_name }}</td>
                        <td>{{ record.manufacture_date }}</td>
                        <td><a href="{% url "display" stp_id=record.stp_id %}" class="nav-link text-primary text-center"><img src="{% static "images/eye.png" %}" class="" alt="view" width="20" height="15"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-center h3 mt-5">Records not available</div>
        {% endif %}
    </div>

    <div class="modal fade" id="bulkmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Export Bulk Data</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fw-medium">Import the data files from the system. </p>
                <label for="uploadType" class="form-label">Attachment Type</label>
                <div class="radio mx-3 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="attachmentType" id="PDF" checked onclick="toggleForms()">
                        <label class="form-check-label" for="PDF">
                            PDF
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="attachmentType" id="Excel" onclick="toggleForms()">
                        <label class="form-check-label" for="Excel">
                            Excel
                        </label>
                    </div>
                </div>
                <div id="displayForm">
                    <form action="{% url 'bulk-excel' %}" method="POST" enctype="multipart/form-data" id="excelForm">
                        <div class="d-flex gap-5 mb-3">
                            <div class="w-75">
                                <label for="rows" class="form-label">Number of Excel Attachments</label>
                                <input type="number" name="rows" class="form-control" id="rowsExcel" placeholder="Enter no of attachments">
                            </div>
                            <div class="mt-4 pt-2">
                                <button type="button" class="btn btn-light bg-secondary-subtle" onclick="generateRows('excel')">Generate</button>
                            </div>
                        </div>
            
                        <div class="border rounded p-3" id="fieldFormExcel">
                            {% csrf_token %}
                        </div>
                    </form>
                    <form action="{% url 'bulk-pdf' %}" method="POST" enctype="multipart/form-data" id="pdfForm" style="display:none;">
                        <div class="d-flex gap-5 mb-3">
                            <div class="w-75">
                                <label for="rows" class="form-label">Number of PDF Attachments</label>
                                <input type="number" name="rows" class="form-control" id="rowsPDF" placeholder="Enter no of attachments">
                            </div>
                            <div class="mt-4 pt-2">
                                <button type="button" class="btn btn-light bg-secondary-subtle" onclick="generateRows('pdf')">Generate</button>
                            </div>
                        </div>
            
                        <div class="border rounded p-3" id="fieldFormPDF">
                            {% csrf_token %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
            </div>
          </div>
        </div>
    </div>
</div>

<script>
    function toggleForms() {
        const isPDFSelected = document.getElementById('PDF').checked;
        const pdfForm = document.getElementById('pdfForm');
        const excelForm = document.getElementById('excelForm');
        
        if (isPDFSelected) {
            pdfForm.style.display = 'block';
            excelForm.style.display = 'none';
        } else {
            pdfForm.style.display = 'none';
            excelForm.style.display = 'block';
        }
    }

    function generateRows(type) {
        const row = type === 'pdf' ? document.getElementById('rowsPDF').value : document.getElementById('rowsExcel').value;
        const form = type === 'pdf' ? document.getElementById('fieldFormPDF') : document.getElementById('fieldFormExcel');
        document.querySelectorAll('.previous').forEach( field => field.remove());
        let html = '';

        if ( row <= '0' ) {
            return
        }

        for (let i = 1; i <= row; i++) {
            html += `<div class="mb-3 previous"><label for="attachment_${type}_${i}" class="form-label">Attachment ${i}</label><input type="file" required name="attachment_${type}_${i}" class="form-control" id="attachment_${type}_${i}"></div>`;
        }

        html += `<div class="mt-4 previous"><button type="submit" class="btn btn-success">Combine Data and Download</button></div>`;

        form.innerHTML += html;
    }

    document.addEventListener('DOMContentLoaded', toggleForms);
</script>

{% endblock body %}    
