{% extends "layout.html" %}

{% block title %}Dashboard - SmartExcel{% endblock title %}

{% block body %}

{% load static %}

<div class="d-flex justify-content-center my-5">
    <div class="border shadow rounded p-4 bg-light mt-2" style="width: 80%;">
        <div class="d-flex justify-content-between">
            <div class="bg-white rounded p-2 text-dark fw-medium">Total Records : {{ total_records }}</div>
            <a href="/form/" class="btn btn-info text-light shadow">Create Record</a>
        </div>
        {% if data %}
        <table class="table table-bordered mt-4">
            <thead class="bg-info">
                <th class="bg-info">Record Number</th>
                <th class="bg-info w-75">Objective</th>
                <th class="bg-info">Initiation Date</th>
                <th class="bg-info">View</th>
            </thead>
            <tbody>
                {% for record in data %}
                    <tr>
                        <td><a href="{% url "update" form_id=record.id %}" class="nav-link text-primary">{{ record.id }}</a></td>
                        <td>{{ record.objective }}</td>
                        <td>{{ record.initiation_date }}</td>
                        <td><a href="{% url "display" form_id=record.id %}" class="nav-link text-primary text-center"><img src="{% static "images/eye.png" %}" class="" alt="view" width="20" height="15"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="text-center h3 mt-5">Records not available</div>
        {% endif %}
    </div>
</div>

{% endblock body %}    
