{% extends "layout.html" %}

{% block title %}Form - SmartExcel{% endblock title %}

{% block head %} Smart Excel {% endblock head %}

{% block logoutButton %}
    <a href="/logout" class="btn btn-danger text-pink f-medium">Log Out</a>
{% endblock logoutButton %}

{% block body %}
    <div class="d-flex justify-content-center my-5">
        <form class="border rounded px-4" method="POST" style="width: 60%;">
            {% csrf_token %}
            <div class="my-3 text-center">
                <h3>smartexcel: /Form</h3>
            </div>
            <div class="mb-3">
                <label for="objective" class="form-label">Objective</label>
                <input type="text" class="form-control" id="objective" placeholder="" name="objective">
            </div>
            <div class="mb-3">
                <label for="scope" class="form-label">Scope</label>
                <input type="text" class="form-control" id="scope" name="scope">
            </div>
            <div class="mb-3">
                <label for="concentration" class="form-label">Concentration</label>
                <input type="text" class="form-control" id="concentration" name="concentration">
            </div>
            <div class="mb-3">
                <label for="volums" class="form-label">Volums</label>
                <select class="form-select" aria-label="Default select example" id="volums" name="volums">
                    <option value="" selected>Open this select menu</option>
                    <option value="Volume 1">Volume 1</option>
                    <option value="Volume 2">Volume 2</option>
                    <option value="Volume 3">Volume 3</option>
                  </select>
            </div>
            <div class="mb-3">
                <label for="ingradient" class="form-label">Ingradient</label>
                <input type="text" class="form-control" id="ingradient" name="ingradient">
            </div>
            <div class="mb-3">
                <label for="spec_io" class="form-label">Spec. IO</label>
                <input type="text" class="form-control" id="spec_io" name="spec_io">
            </div>
            <div class="mb-3">
                <label for="spec_dates" class="form-label">Spec. Dates</label>
                <input type="text" class="form-control" id="spec_dates" name="spec_dates">
            </div>
            <div class="mb-3">
                <label for="procedure" class="form-label">Procedure</label>
                <input type="text" class="form-control" id="procedure" name="procedure">
            </div>
            <div class="mb-3">
                <label for="calculation_details" class="form-label">Calculation Details</label>
                <input type="text" class="form-control" id="calculation_details" name="calculation_details">
            </div>
            <div class="mb-3">
                <label for="conclusion" class="form-label">Conclusion</label>
                <input type="text" class="form-control" id="conclusion" name="conclusion">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
{% endblock body %}    