{% extends "layout.html" %}

{% block title %}Form - SmartExcel{% endblock title %}

{% block toast %}
    {% include "toast.html" with messages=messages %}
{% endblock toast %}

{% block body %}
    <div class="d-flex justify-content-center my-3">
        <form class="" method="POST" style="width: 80%;">
            {% csrf_token %}
            <div class="my-3 text-end">
                <a href="/dashboard" class="btn btn-info text-light mx-4 shadow">Exit</a>
                <button type="submit" class="btn btn-info text-light shadow">Save</button>
            </div>
            <div class="border shadow rounded px-4 bg-light">
                <div class="my-3 fw-medium">Record Number: {{ record_number }}</div>
                <div class="mb-3">
                    <label for="objective" class="form-label">Objective</label>
                    <input type="text" class="form-control border-gray border-2 {% if messages %} is-invalid {% endif %}" id="objective" placeholder="" name="objective">
                    {% if messages %}<span class="text-body-tertiary mx-1">Objective field can not be empty!</span>{% endif %}
                </div>
                <div class="mb-3">
                    <label for="scope" class="form-label">Scope</label>
                    <input type="text" class="form-control border-gray border-2" id="scope" name="scope">
                </div>
                <div class="mb-3">
                    <label for="concentration" class="form-label">Concentration</label>
                    <input type="text" class="form-control border-gray border-2" id="concentration" name="concentration">
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="volums" class="form-label">Volums</label>
                        <select class="form-select border-gray border-2" aria-label="Default select example" id="volums" name="volums">
                            <option value="" selected>Open this select menu</option>
                            <option value="Volume 1">Volume 1</option>
                            <option value="Volume 2">Volume 2</option>
                            <option value="Volume 3">Volume 3</option>
                        </select>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="spec_details" class="form-label">Spec. Details</label>
                        <input type="text" class="form-control border-gray border-2" id="spec_details" name="spec_details">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="ingradient" class="form-label">Ingradient</label>
                    <input type="text" class="form-control border-gray border-2" id="ingradient" name="ingradient">
                </div>
                <div class="mb-3">
                    <label for="spec_io" class="form-label">Spec. IO</label>
                    <input type="text" class="form-control border-gray border-2" id="spec_io" name="spec_io">
                </div>
                <div class="mb-3">
                    <label for="procedure" class="form-label">Procedure</label>
                    <input type="text" class="form-control border-gray border-2" id="procedure" name="procedure">
                </div>
                <div class="mb-3">
                    <label for="calculation_details" class="form-label">Calculation Details</label>
                    <textarea type="text" class="form-control border-gray border-2" id="calculation_details" name="calculation_details" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="conclusion" class="form-label">Conclusion</label>
                    <input type="text" class="form-control border-gray border-2" id="conclusion" name="conclusion">
                </div>
            </div>
        </form>
    </div>
{% endblock body %}    