{% extends "layout.html" %}

{% block title %}Data - SmartExcel{% endblock title %}

{% block head %} Form Data {% endblock head %}

{% block logoutButton %}
    <a href="/logout" class="btn btn-danger text-pink f-medium">Log Out</a>
{% endblock logoutButton %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-end gap-4 my-3 px-5">
            <a href="/form" class="btn btn-info text-light" >Back</a>
            <button class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#exportModal">Export Data</button>
        </div>
        <div class="px-5 my-4">
            <div class="border rounded p-3">
                <table class="table table-stripped">
                    <tr>
                        <th class="w-25">Field</th>
                        <th class="">Value</th>
                    </tr>
                    <tr>
                        <td>Objective</td>
                        <td id="objective">{{form.objective}}</td>
                    </tr>
                    <tr>
                        <td>Scope</td>
                        <td id="scope">{{form.scope}}</td>
                    </tr>
                    <tr>
                        <td>Concentration</td>
                        <td id="concentration">{{form.concentration}}</td>
                    </tr>
                    <tr>
                        <td>Volumes</td>
                        <td id="volums">{{form.volums}}</td>
                    </tr>
                    <tr>
                        <td>Ingredient</td>
                        <td id="ingradient">{{form.ingradient}}</td>
                    </tr>
                    <tr>
                        <td>Spec. IO</td>
                        <td id="spec_io">{{form.spec_io}}</td>
                    </tr>
                    <tr>
                        <td>Spec. Dates</td>
                        <td id="spec_dates">{{form.spec_dates}}</td>
                    </tr>
                    <tr>
                        <td>Procedure</td>
                        <td id="procedure">{{form.procedure}}</td>
                    </tr>
                    <tr>
                        <td>Calculation Details</td>
                        <td id="calculation_details">{{form.calculation_details}}</td>
                    </tr>
                    <tr>
                        <td>Conclusion</td>
                        <td id="conclusion">{{form.conclusion}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportModalLabel">Export Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-medium">Choose format to export:</p>
                    <div class="d-flex justify-content-around mb-4">
                        <a href = "{% url 'download' form_id=form.id %}" class="btn btn-primary">Export as PDF</a>
                        <a href = "{% url 'download-excel' form_id=form.id %}" class="btn btn-success">Export as Excel</a>
                    </div>
                    <p class="fw-medium">Convert pdf to excel : <br> 1. Upload the pdf file from your local system. <br> 2. Download Excel Sheet.</p>
                    <form id="pdfUploadForm" action="{% url 'export_excel' form_id=form.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="pdf" class="form-label">Upload file :</label>
                            <input class="form-control border-gray border-2" type="file" id="pdf" name="pdf">
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-success" id="exportExcelBtn">Download</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
