{% extends "layout.html" %}

{% block title %}Data - SmartExcel{% endblock title %}

{% block body %}
    <div class="d-flex justify-content-center my-4">
        <div class="" style="width: 80%;">
            <div class="d-flex justify-content-end gap-4 mb-3">
                <a href="/dashboard/" class="btn btn-info text-light">Exit</a>
                <a href="/dashboard/" class="btn btn-info text-light" >Back</a>
                <button class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#exportModal">Export Data</button>
            </div>
            <div class="border shadow rounded p-4 bg-light">
                {% comment %} <span class="bg-white rounded py-2 px-3 text-dark fw-medium">STP ID : {{ form.stp_id }}</span> {% endcomment %}
                <table class="table mt-3">
                    <tr>
                        <th class="w-25">Field</th>
                        <th class="">Value</th>
                    </tr>
                    <tr>
                        <td>STP ID</td>
                        <td id="objective">{{form.objective}}</td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td id="scope">{{form.product_name}}</td>
                    </tr>
                    <tr>
                        <td>Batch Number</td>
                        <td id="concentration">{{form.batch_number}}</td>
                    </tr>
                    <tr>
                        <td>Manufacture Date</td>
                        <td id="volums">{{form.manufacture_date}}</td>
                    </tr>
                    <tr>
                        <td>Expiry Date</td>
                        <td id="ingradient">{{form.expiry_date}}</td>
                    </tr>
                    <tr>
                        <td>Active Ingredient Concentration</td>
                        <td id="spec_io">{{form.active_ingredient_concentration}}</td>
                    </tr>
                    <tr>
                        <td>Capsule Size</td>
                        <td id="spec_details">{{form.dessolution_test}}</td>
                    </tr>
                    <tr>
                        <td>Dessolution Test</td>
                        <td id="procedure">{{form.dessolution_test}}</td>
                    </tr>
                    <tr>
                        <td>Hardness Test</td>
                        <td id="calculation_details">{{form.hardness_test}}</td>
                    </tr>
                    <tr>
                        <td>Moisture Content</td>
                        <td id="conclusion">{{form.moisture_content}}</td>
                    </tr>
                    <tr>
                        <td>Uniformity of Dosage Unit</td>
                        <td id="conclusion">{{form.dosage_unit_uniformiry}}</td>
                    </tr>
                    <tr>
                        <td>Appearance</td>
                        <td id="conclusion">{{form.appearance}}</td>
                    </tr>
                    <tr>
                        <td>Packaging Integrity</td>
                        <td id="conclusion">{{form.packaging_integrity}}</td>
                    </tr>
                    <tr>
                        <td>Storage Conditions</td>
                        <td id="conclusion">{{form.storage_conditions}}</td>
                    </tr>
                    <tr>
                        <td>Stability Testing</td>
                        <td id="conclusion">{{form.stability_testing}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportModalLabel">Export Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-medium">Choose format to export:</p>
                    <div class="d-flex justify-content-around mb-4">
                        <a href = "{% url 'download' stp_id=form.stp_id %}" class="btn btn-primary">Export as PDF</a>
                        <a href = "{% url 'download-excel' stp_id=form.stp_id %}" class="btn btn-success">Export as Excel</a>
                    </div>
                    <p class="fw-medium">Convert pdf to excel : <br> 1. Upload the pdf file from your local system. <br> 2. Download Excel Sheet.</p>
                    <form id="pdfUploadForm" action="{% url 'export-excel' stp_id=form.stp_id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="pdf" class="form-label">Upload file :</label>
                            <input class="form-control border-gray border-2" type="file" id="pdf" name="pdf">
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-success" id="exportExcelBtn">Download</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
