{% extends "layout.html" %}

{% block title %}Form - SmartExcel{% endblock title %}

{% block toast %}
    {% include "toast.html" with messages=messages %}
{% endblock toast %}

{% block body %}
    <div class="d-flex justify-content-center my-3">
        <form class="" method="POST" style="width: 80%;">
            {% csrf_token %}
            <div class="my-3 text-end">
                <a href="/view-stp" class="btn btn-info text-light mx-4 shadow">Exit</a>
                <button type="submit" class="btn btn-info text-light shadow">Save</button>
            </div>
            <div class="border shadow rounded p-4 bg-light">
                {% comment %} <span class="bg-white rounded py-2 px-3 text-dark fw-medium">Record Number : {{ form.stp_id }}</span> {% endcomment %}
                <input type="text" class="form-control border-gray border-2" id="file_name" name="file_name" value="Manually added" hidden>
                <div class="mb-3 row">
                    <div class="col-6">
                        <label for="stp_id" class="form-label">STP ID</label>
                        <input type="number" class="form-control border-gray border-2" id="stp_id" value="{{ stp_id }}" name="stp_id" readonly>
                    </div>
                    <div class="col-6">
                        <label for="batch_number" class="form-label">Batch Number</label>
                        <input type="text" class="form-control border-gray border-2" id="batch_number" name="batch_number">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="product_name" class="form-label {% if messages %} is-invalid {% endif %}">Product Name</label>
                    <input type="text" class="form-control border-gray border-2" id="product_name" name="product_name">
                    {% if messages %}<span class="text-body-tertiary mx-1">Product name field can not be empty.</span>{% endif %}
                </div>
                <div class="mb-3 row">
                    <div class="col-6">
                        <label for="manufacture_date" class="form-label">Manufacture Date</label>
                        <input type="date" class="form-control border-gray border-2" id="manufacture_date" name="manufacture_date">
                    </div>
                    <div class="col-6">
                        <label for="expiry_date" class="form-label">Expiry Date</label>
                        <input type="date" class="form-control border-gray border-2" id="expiry_date" name="expiry_date">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="active_ingredient_concentration" class="form-label">Active Ingredient Concentration</label>
                    <input type="text" class="form-control border-gray border-2" id="active_ingredient_concentration" name="active_ingredient_concentration">
                </div>
                <div class="mb-3">
                    <label for="capsule_size" class="form-label">Capsule Size</label>
                    <input type="text" class="form-control border-gray border-2" id="capsule_size" name="capsule_size">
                </div>
                <div class="mb-3">
                    <label for="dissolution_test" class="form-label">Dissolution Test</label>
                    <input type="text" class="form-control border-gray border-2" id="dissolution_test" name="dissolution_test">
                </div>
                <div class="mb-3">
                    <label for="hardness_test" class="form-label">Hardness Test</label>
                    <input type="text" class="form-control border-gray border-2" id="hardness_test" name="hardness_test">
                </div>
                <div class="mb-3">
                    <label for="moisture_content" class="form-label">Moisture Content</label>
                    <input type="text" class="form-control border-gray border-2" id="moisture_content" name="moisture_content">
                </div>
                <div class="mb-3">
                    <label for="dosage_unit_uniformity" class="form-label">Uniformity of Dosage Unit</label>
                    <input type="text" class="form-control border-gray border-2" id="dosage_unit_uniformity" name="dosage_unit_uniformity">
                </div>
                <div class="mb-3">
                    <label for="appearance" class="form-label">Appearance</label>
                    <input type="text" class="form-control border-gray border-2" id="appearance" name="appearance">
                </div>
                <div class="mb-3">
                    <label for="packaging_integrity" class="form-label">Packaging Integrity</label>
                    <input type="text" class="form-control border-gray border-2" id="packaging_integrity" name="packaging_integrity">
                </div>
                <div class="mb-3">
                    <label for="storage_conditions" class="form-label">Storage Conditions</label>
                    <input type="text" class="form-control border-gray border-2" id="storage_conditions" name="storage_conditions">
                </div>
                <div class="mb-3">
                    <label for="stability_testing" class="form-label">Stability Testing</label>
                    <input type="text" class="form-control border-gray border-2" id="stability_testing" name="stability_testing">
                </div>
            </div>
        </form>
    </div>
{% endblock body %}    